$main-color: #55c57a;
$main-color--light: #7ed56f;
$main-color--dark: #28b485;

$light-orange: #ffb900;
$dark-orange: #ff7730;

$light-purple: #2998ff;
$dark-purple: #5643fa;

$light-gray--1: #f7f7f7;
$light-gray--2: #eee;

$dark-gray--1: #777;
$dark-gray--2: #999;
$dark-gray--3: #333;